# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Frappe
sites/
logs/
node_modules/

# Virtual environments
.env
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Build files
*.egg-info/
dist/
build/

# Editor files
*.swp
.vscode/
.idea/